<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylovemhz.simplay">

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application>
        <service android:name="be.ugent.zeus.hydra.urgent.MusicService" />
        <receiver android:name="be.ugent.zeus.hydra.urgent.media.MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
