<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="be.ugent.zeus.hydra"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Account permissions -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Sync -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- Override API number constraints in libraries -->
    <!-- Override Custom Tabs -->
    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <application
        android:name=".HydraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/Hydra.Main.NoActionBar">

        <!-- Main activity -->
        <activity
            android:name=".activities.Hydra"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <!-- Resto overview -->
        <activity
            android:name=".activities.resto.MenuActivity"
            android:label="@string/resto_menu"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <!-- Sandwich overview -->
        <activity
            android:name=".activities.resto.SandwichActivity"
            android:label="@string/resto_sandwich"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <!-- Resto overview -->
        <activity
            android:name=".activities.resto.MetaActivity"
            android:label="@string/resto_resto"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.ActivityDetailActivity"
            android:label="@string/title_activity_association_activity_detail"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.AssociationDetailActivity"
            android:label="@string/title_association_activity_detail" />

        <activity
            android:name=".activities.InfoSubItemActivity"
            android:label="@string/title_activity_info_sub_item"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.SchamperArticleActivity"
            android:label="@string/title_activity_schamper"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.ImageGalleryActivity"
            android:label="Afbeelding" />

        <activity
            android:name=".activities.NewsArticleActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/title_activity_hydra_web_view"
            android:parentActivityName=".activities.Hydra">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <receiver android:name=".notifications.DailyNotificationReceiver" />

        <activity
            android:name=".activities.minerva.AnnouncementActivity"
            android:label="@string/title_announcement_title"
            android:parentActivityName=".activities.Hydra">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />
        </activity>

        <activity
            android:name=".activities.minerva.AuthActivity"
            android:label="@string/title_activity_authentication"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.Hydra">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Hydra" />

            <!-- Intent filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="hydra-ugent" />
            </intent-filter>
        </activity>

        <!-- Account service -->
        <service android:name=".auth.MinervaService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Sync service -->
        <service
            android:name=".sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/adapter_minerva_sync" />
        </service>


        <provider
            android:name=".sync.StubProvider"
            android:authorities="be.ugent.zeus.hydra.minerva.provider"
            android:exported="false"
            android:label="@string/sync_provider_label"
            android:syncable="true"/>

    </application>

</manifest>