<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="be.ugent.zeus.hydra"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Account & sync permissions -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Urgent stuff -->
    <permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- We add our own calendar provider -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".HydraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Hydra.Main.NoActionBar"
        tools:ignore="ManifestResource"
        tools:targetApi="25">

        <!-- Main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Hydra.Main.NoActionBar.SystemWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Settings -->
        <activity
            android:name=".activities.preferences.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/Hydra.Main.TextColorSelector"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Association select preference activity -->
        <activity
            android:name=".activities.preferences.AssociationSelectPrefActivity"
            android:label="Verenigingen"
            android:parentActivityName=".activities.preferences.SettingsActivity" />

        <!-- Resto overview -->
        <activity
            android:name=".activities.resto.MenuActivity"
            android:label="@string/resto_menu"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Sandwich overview -->
        <activity
            android:name=".activities.resto.SandwichActivity"
            android:label="@string/resto_sandwich"
            android:parentActivityName=".activities.MainActivity" />

        <!-- The Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_maps_key}" />

        <!-- Show a map of resto's -->
        <activity
            android:name=".activities.resto.RestoLocationActivity"
            android:label="@string/title_activity_resto_location"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Details about association events. -->
        <activity
            android:name=".activities.EventDetailActivity"
            android:label="@string/title_activity_association_activity_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Show info items -->
        <activity
            android:name=".activities.InfoSubItemActivity"
            android:label="@string/title_activity_info_sub_item"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Show news article -->
        <activity
            android:name=".activities.NewsArticleActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Show a web view -->
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/title_activity_hydra_web_view"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Show a Minerva course -->
        <activity
            android:name=".activities.minerva.CourseActivity"
            android:label="@string/activity_title_minerva_course"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Show a Minerva announcement -->
        <activity
            android:name=".activities.minerva.AnnouncementActivity"
            android:label="@string/title_announcement_title"
            android:parentActivityName=".activities.minerva.CourseActivity" />

        <!-- Show a Minerva agenda item -->
        <activity
            android:name=".activities.minerva.AgendaActivity"
            android:label="@string/activity_title_minerva_agenda"
            android:parentActivityName=".activities.minerva.CourseActivity" />

        <!-- Minerva auth activity -->
        <activity
            android:name=".activities.minerva.AuthActivity"
            android:label="@string/title_activity_authentication"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity">

            <!-- Intent filters: handle the custom URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hydra-ugent" />
            </intent-filter>
        </activity>

        <!-- SKO overview activity -->
        <activity
            android:name=".activities.sko.OverviewActivity"
            android:label="@string/activity_title_sko_overview"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko" />

        <!-- SKO preference activity -->
        <activity
            android:name=".activities.sko.PreferenceActivity"
            android:label="@string/activity_title_sko_preferences"
            android:parentActivityName=".activities.sko.OverviewActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko" />

        <!-- SKO artist page -->
        <activity
            android:name=".activities.sko.ArtistActivity"
            android:label="Artiest"
            android:parentActivityName=".activities.sko.OverviewActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko.SystemWindows" />

        <!-- Onboarding activity -->
        <activity
            android:name=".activities.OnboardingActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activities.ExceptionDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".fragments.minerva.CalendarPermissionActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <!-- Library details -->
        <activity
            android:name=".activities.LibraryDetailActivity"
            android:label="Bibliotheek"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Hydra.Main.NoActionBar.SystemWindows" />

        <!-- Receiver for daily resto notifications -->
        <receiver android:name=".notifications.DailyNotificationReceiver" />

        <!-- Firebase messages -->
        <service android:name=".notifications.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Account service -->
        <service android:name=".minerva.auth.MinervaService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/minerva_authenticator" />
        </service>

        <!-- Announcement sync service -->
        <service
            android:name=".minerva.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/minerva_sync_adapter" />
        </service>

        <!-- Stub announcement provider -->
        <provider
            android:name=".minerva.sync.StubProvider"
            android:authorities="be.ugent.zeus.hydra.minerva.provider"
            android:exported="false"
            android:label="@string/minerva_sync_announcement_provider"
            android:syncable="true" />

        <!-- Calendar sync service -->
        <service
            android:name=".minerva.agenda.sync.Service"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/minerva_calendar_sync" />
        </service>

        <!-- Stub calendar provider -->
        <provider
            android:name=".minerva.agenda.sync.Provider"
            android:authorities="be.ugent.zeus.hydra.minerva.calendar.provider"
            android:exported="false"
            android:label="@string/minerva_sync_calendar_provider"
            android:syncable="true" />

        <!-- Urgent stuff -->
        <service android:name=".urgent.MusicService" />

        <receiver android:name=".urgent.media.MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>