<?xml version="1.0" encoding="utf-8"?>
<manifest package="be.ugent.zeus.hydra"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Account & sync permissions -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Urgent stuff -->
    <permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- We insert our own calendar provider -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".HydraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Hydra.Main.NoActionBar">

        <!-- Disable all Firebase analytics in debug mode. -->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="${disableAnalytics}" />

        <!-- Main activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Hydra.Main.NoActionBar.SystemWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Settings -->
        <activity
            android:name=".ui.preferences.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/Hydra.Main.TextColorSelector"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Association select preference activity -->
        <activity
            android:name=".ui.preferences.AssociationSelectPrefActivity"
            android:label="Verenigingen"
            android:parentActivityName=".ui.preferences.SettingsActivity" />

        <!-- Association select preference activity -->
        <activity
            android:name=".ui.preferences.HomeFeedPrefActivity"
            android:label="@string/activity_title_homefeed_card_types"
            android:parentActivityName=".ui.preferences.SettingsActivity" />

        <!-- Resto overview -->
        <activity
            android:name=".ui.resto.menu.MenuActivity"
            android:label="@string/resto_menu"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Sandwich overview -->
        <activity
            android:name=".ui.resto.SandwichActivity"
            android:label="@string/resto_sandwich"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- The Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_maps_key}" />

        <!-- Show a map of resto's -->
        <activity
            android:name=".ui.resto.RestoLocationActivity"
            android:label="@string/title_activity_resto_location"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Details about association events. -->
        <activity
            android:name=".ui.EventDetailActivity"
            android:label="@string/title_activity_association_activity_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Show info items -->
        <activity
            android:name=".ui.InfoSubItemActivity"
            android:label="@string/title_activity_info_sub_item"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Display a Schamper article -->
        <activity
            android:name=".ui.SchamperArticleActivity"
            android:label="@string/title_activity_schamper"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Hydra.Main.NoActionBar.SystemWindows" />

        <!-- Show news article -->
        <activity
            android:name=".ui.NewsArticleActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Show a web view -->
        <activity
            android:name=".ui.common.WebViewActivity"
            android:label="@string/title_activity_hydra_web_view"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Show a Minerva course -->
        <activity
            android:name=".ui.minerva.overview.CourseActivity"
            android:label="@string/activity_title_minerva_course"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Show a Minerva announcement -->
        <activity
            android:name=".ui.minerva.AnnouncementActivity"
            android:label="@string/title_announcement_title"
            android:parentActivityName=".ui.minerva.overview.CourseActivity" />

        <!-- Show a Minerva agenda item -->
        <activity
            android:name=".ui.minerva.AgendaActivity"
            android:label="@string/activity_title_minerva_agenda"
            android:parentActivityName=".ui.minerva.overview.CourseActivity">
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>

        <!-- Minerva auth activity -->
        <activity
            android:name=".ui.minerva.AuthActivity"
            android:label="@string/title_activity_authentication"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.main.MainActivity">

            <!-- Intent filters: handle the custom URL scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hydra-ugent" />
            </intent-filter>
        </activity>

        <!-- SKO overview activity -->
        <activity
            android:name=".ui.sko.overview.OverviewActivity"
            android:label="@string/activity_title_sko_overview"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko" />

        <!-- SKO preference activity -->
        <activity
            android:name=".ui.sko.PreferenceActivity"
            android:label="@string/activity_title_sko_preferences"
            android:parentActivityName=".ui.sko.overview.OverviewActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko" />

        <!-- SKO artist page -->
        <activity
            android:name=".ui.sko.ArtistActivity"
            android:label="Artiest"
            android:parentActivityName=".ui.sko.overview.OverviewActivity"
            android:theme="@style/Hydra.Main.NoActionBar.Sko.SystemWindows" />

        <!-- Onboarding activity -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".ui.ExceptionDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.minerva.CalendarPermissionActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />

        <!-- Library details -->
        <activity
            android:name=".ui.library.LibraryDetailActivity"
            android:label="Bibliotheek"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Hydra.Main.NoActionBar.SystemWindows" />

        <!-- Firebase messages -->
        <service android:name=".service.notifications.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Account service -->
        <service android:name=".data.auth.MinervaService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/minerva_authenticator" />
        </service>

        <!-- Announcement sync service -->
        <service
            android:name=".data.sync.announcement.AnnouncementService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/minerva_sync_announcement" />
        </service>

        <!-- Stub announcement provider -->
        <provider
            android:name=".data.sync.announcement.AnnouncementProvider"
            android:authorities="be.ugent.zeus.hydra.minerva.provider"
            android:exported="false"
            android:label="@string/minerva_sync_announcement_provider"
            android:syncable="true" />

        <!-- Calendar sync service -->
        <service
            android:name=".data.sync.calendar.CalendarService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/minerva_sync_calendar" />
        </service>

        <!-- Stub calendar provider -->
        <provider
            android:name=".data.sync.calendar.CalendarProvider"
            android:authorities="be.ugent.zeus.hydra.minerva.calendar.provider"
            android:exported="false"
            android:label="@string/minerva_sync_calendar_provider"
            android:syncable="true" />

        <!-- Course sync service -->
        <service
            android:name=".data.sync.course.CourseService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/minerva_sync_course" />
        </service>

        <!-- Stub course provider -->
        <provider
            android:name=".data.sync.course.CourseProvider"
            android:authorities="be.ugent.zeus.hydra.minerva.course.provider"
            android:exported="false"
            android:label="@string/minerva_sync_course"
            android:syncable="true" />

        <!-- Urgent stuff -->
        <service
            android:process=":urgent"
            android:name=".service.urgent.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>